.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 90%;
    height: 90%;
    position: absolute;
    color: rgba(245, 245, 245, 0.736);
    background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
    box-shadow: hsla(236, 50%, 50%, .3) .4rem .4rem 10.2rem .2rem hsla(236, 50%, 50%, .4);
    padding: 20px;
    border-radius: 10px;
    animation-name: modal-open-animation;
    animation-duration: 0.5s;
}

@keyframes modal-open-animation {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.upper-section {
    display: flex;
    justify-content: flex-end;
}

.modal-content {
    height: 100%;
    display: flex;
    overflow-y: auto;
}

.modal-timerange {
    margin-left: auto;
    margin-right: 0;
    width: 70%;
}

.modal-upper-content {
    height: 50%;
}

.modal-lower-content {
    height: 50%;
    overflow-x: auto;
    overflow-y: hidden;
}

.close {
    font-size: 24px;
    cursor: pointer;
}

.image {
    margin: auto;
    width: 100px;
    height: 50px;
}

.channels-name {
    height: 100%;
    position: sticky;
    left: 0px;
    z-index: 3;
    width: 30%;
}

.channel-header {
    text-align: center;
    position: sticky;
    left: 0px;
    z-index: 3;
    border-radius: 4px 0px 0px 0px;
}



.channels-name::-webkit-scrollbar {
    display: none;
}


.channel-row {
    display: grid;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    background-color: var(--primary-bg);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    min-height: 80px;
}

.schedule {
    height: fit-content;
    width: 70%;
}

.time-range-row {
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 3160px;
    height: fit-content;
}

.time-row {
    color: white;
    min-width: 130px;
}

.header-text {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.programs-row {
    display: flex;
}

.program {
    display: flex;
    flex-direction: column;
    padding: 0px;
    justify-content: center;
    border: 1px solid black;
    background-color: var(--primary-bg);
    min-height: 80px;
    max-height: 80px;
}

.timerange {
    color: white;
    display: grid;
    font-size: 12px;
}

.channel-header, 
.time-range-row { 
    background-color: black;
    border-bottom: 1px solid black;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1d1d1d;
    border: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .center{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    width: 100%;
    height: 100%;
  }

  .loader {
    color: #ffffff;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  }
  
  @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  
  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
   