.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 90%;
    height: 90%;
    position: absolute;
    background-color: #fff;
    padding: 20px;
}

.upper-section {
    display: flex;
    justify-content: flex-end;
}

.modal-content {
    height: 100%;
    display: flex;
    overflow-y: auto;
}

.modal-timerange {
    margin-left: auto;
    margin-right: 0;
    width: 70%;
}

.modal-upper-content {
    height: 50%;
}

.modal-lower-content {
    height: 50%;
    overflow-x: auto;
    overflow-y: hidden;
}

.close {
    font-size: 24px;
    cursor: pointer;
}

.image {
    margin: auto;
    width: 100px;
    height: 50px;
}

.channels-name {
    height: 100%;
    position: sticky;
    left: 0px;
    z-index: 3;
    width: 30%;
    /* overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none; */
}

.channel-header{
    text-align: center;
    position: sticky;
    left: 0px;
    z-index: 3;
    background-color: gray;
    border: 1px solid white;
}



.channels-name::-webkit-scrollbar {
    display: none;
}


.channel-row {
    display: grid;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    background-color: gray;
    border: 1px solid white;
    min-height: 80px;
}

.schedule {
    height: 100%;
    width: 70%;
}

.time-range-row {
    display: flex;
    background-color: aqua;
    border: 1px solid white;
    position: sticky;
    top: 0px;
    z-index: 1;
    width: fit-content;
    height: fit-content;
}

.time-row {
    min-width: 60px;
}

.programs-row{
}
.program{
    background-color: rgb(171, 140, 140);
    border: 1px solid white;
    min-height: 80px;
    min-width: 60px;
    max-height: 80px;
    max-width: 60px;
}



